

.radio-toggles{
    align-items: center;
    background: #eee;
    border: 1px solid lightgray;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    max-width: 400px;
    overflow: hidden;
    padding: 4px;
    position: relative;
}

label{
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    width: 33.33%;
    z-index: 2;
}
.slide-item{
    background: #fff;
    border-radius: 9999px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    height: calc(100% - 8px);
    left: calc(33.33% + 4px);
    position: absolute;
    width: calc(33.33% - 8px);
    transition: left 0.4s;
    z-index: 0;
}
[type="radio"]{
    left: -9999px;
    position: absolute;
    z-index: -1;
    opacity: 0;
}
input [type="radio"]:nth-of-type(1):checked ~ .slide-item{
    left: 4px;
}
input [type="radio"]:nth-of-type(3):checked ~ .slide-item{
    left: calc(66.66% + 4px);
}